@font-face {
    font-family: 'fira_mono';
    src: url('firamono-regular-webfont.woff2') format('woff2'),
         url('firamono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fira_mono_medium';
    src: url('firamono-medium-webfont.woff2') format('woff2'),
         url('firamono-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'merriweather';
    src: url('merriweather-regular-webfont.woff2') format('woff2'),
         url('merriweather-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.card,
.highlight,
.highlight pre,
.textarea,
embed,
img,
object {
  max-width: 100%;
}

a,
hr {
  padding: 0;
}

a,
button,
input[type="button"],
input[type="file"],
input[type="submit"],
label {
  cursor: pointer;
}

a,
button,
input,
select,
textarea {
  margin: 0;
}

a,
input[type="checkbox"],
input[type="radio"] {
  vertical-align: baseline;
}

a:hover,
strong,
table th {
  color: #222324;
}

.container,
sub,
sup {
  position: relative;
}

.is-block,
article,
aside,
details,
figure,
footer,
header,
hgroup,
hr,
nav,
pre code,
section,
summary {
  display: block;
}

.button,
.delete,
.input,
.modal-close,
.progress,
.select select,
.textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
}

.heading,
.menu-label {
  letter-spacing: 1px;
  text-transform: uppercase;
}

abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
body div,
caption,
cite,
code,
dd,
del,
details,
dfn,
dl,
dt,
em,
fieldset,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: 400;
  vertical-align: baseline;
  background: 0 0;
}

td,
td img {
  vertical-align: top;
}

pre,
pre code {
  background-color: #f5f7fa;
  color: #42464c;
}

code[data-lang] {
  background-color: inherit;
  color: inherit;
}

*,
:after,
:before {
  box-sizing: inherit;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

.is-clearfix:after,
.notification:after,
.select:after {
  content: " ";
}

a {
  font-size: 100%;
  background: 0 0;
  color: #2077b2;
  text-decoration: none;
  -webkit-transition: none 86ms ease-out;
  transition: none 86ms ease-out;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

th {
  font-weight: 700;
  vertical-align: bottom;
}

body,
code,
td {
  font-weight: 400;
}

hr {
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  border-top-color: #d3d6db;
  margin: 40px 0;
}

input,
select {
  vertical-align: middle;
}

input,
select,
textarea {
  font: 99% sans-serif;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font: 100%;
  width: 100%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

code,
kbd,
pre,
samp {
  font-family: monospace, sans-serif;
}

button,
input[type="button"] {
  width: auto;
  overflow: visible;
}

html {
  box-sizing: border-box;
  font-size: 14px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
}

body,
button,
input,
select,
textarea {
  font-family: merriweather, sans-serif;
}

code,
pre {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: "Source Code Pro", Monaco, Inconsolata, monospace;
  line-height: 1.25;
}

body {
  color: #42464c;
  font-size: 1rem;
  line-height: 1.428571428571429;
}

code {
  padding: 1px 2px 2px;
}

.button,
.input,
.textarea,
table td,
table th {
  vertical-align: top;
}

small {
  font-size: 11px;
}

span {
  font-style: inherit;
  font-weight: inherit;
}

.label,
strong {
  font-weight: 700;
}

pre {
  white-space: pre;
  word-wrap: normal;
}

.button,
.nav-left,
.table td.is-icon,
.table th.is-icon,
.tabs,
.tag {
  white-space: nowrap;
}

pre code {
  overflow-x: auto;
  padding: 16px 20px;
}

.box,
.button {
  background-color: #fff;
}

table td,
table th {
  text-align: left;
}

.has-text-centered {
  text-align: center;
}

.block:not(:last-child),
.box:not(:last-child),
.content:not(:last-child),
.highlight:not(:last-child),
.level:not(:last-child),
.message:not(:last-child),
.notification:not(:last-child),
.progress:not(:last-child),
.subtitle:not(:last-child),
.tabs:not(:last-child),
.title:not(:last-child) {
  margin-bottom: 20px;
}

.content a:not(.button) {
  border-bottom: 1px solid #d3d6db;
}

.content a:not(.button):visited {
  color: #847bb9;
}

.content a:not(.button):hover {
  border-bottom-color: #2077b2;
}

.content li+li {
  margin-top: 0.25em;
}

.content ol,
.content ul {
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 1em;
}

.content p {
  text-align: justify;
}

.content blockquote:not(:last-child),
.content ol:not(:last-child),
.content p:not(:last-child),
.content ul:not(:last-child) {
  margin-bottom: 1em;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  color: #b52323;
  font-weight: 300;
  margin-bottom: 20px;
}

.content blockquote {
  background-color: #f5f7fa;
  border-left: 5px solid #d3d6db;
  padding: 1.5em;
}

.content ol {
  list-style: decimal;
}

.content ul {
  list-style: disc;
}

.content ul ul {
  list-style-type: circle;
  margin-top: 0.5em;
}

.content ul ul ul,
.related ul {
  list-style-type: square;
}

.subtitle,
.title {
  font-weight: 300;
  word-break: break-word;
}

.subtitle em,
.subtitle span,
.title em,
.title span {
  font-weight: 300;
}

.subtitle a:hover,
.title a:hover {
  text-decoration: line-through;
}

.subtitle strong,
.title strong {
  font-weight: 500;
}

.subtitle .tag,
.title .tag {
  vertical-align: bottom;
}

.delete,
.modal-close,
.subtitle code {
  display: inline-block;
  vertical-align: top;
}

.title {
  color: #222324;
}

.title code {
  display: inline-block;
  font-size: 28px;
}

.title strong {
  color: inherit;
}

.title+.highlight,
.title+.subtitle {
  margin-top: -10px;
}

.title.is-1 {
  font-size: 48px;
}

.title.is-1 code,
.title.is-2 {
  font-size: 40px;
}

.title.is-2 code,
.title.is-3 {
  font-size: 28px;
}

.title.is-3 code,
.title.is-4 {
  font-size: 24px;
  font-family: "fira_mono", monospace;
}

.title.is-4 code,
.title.is-5 {
  font-size: 18px;
}

.title.is-5 code,
.title.is-6,
.title.is-6 code {
  font-size: 14px;
}

.title.is-normal {
  font-weight: 400;
}

.title.is-normal strong {
  font-weight: 700;
}

@media screen and (min-width: 769px) {
  .title+.subtitle {
    margin-top: -15px;
  }
}

.subtitle {
  font-size: 18px;
  line-height: 1.125;
}

.subtitle code {
  border-radius: 3px;
  font-size: 14px;
  padding: 2px 3px;
}

.subtitle strong {
  color: #222324;
}

.subtitle.is-1 {
  font-size: 48px;
}

.subtitle.is-1 code,
.subtitle.is-2 {
  font-size: 40px;
}

.subtitle.is-2 code,
.subtitle.is-3 {
  font-size: 28px;
}

.subtitle.is-3 code,
.subtitle.is-4 {
  font-size: 24px;
}

.subtitle.is-4 code,
.subtitle.is-5 {
  font-size: 18px;
}

.subtitle.is-5 code,
.subtitle.is-6,
.subtitle.is-6 code {
  font-size: 14px;
}

.subtitle.tags,
.subtitle.date {
  line-height: 1.5em;
}

.subtitle.is-normal {
  font-weight: 400;
}

.subtitle.is-normal strong {
  font-weight: 700;
}

.icon,
.icon.is-large,
.icon.is-medium,
.icon.is-small {
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.icon {
  height: 24px;
  width: 24px;
  font-size: inherit;
  line-height: inherit;
}

.highlight {
  font-weight: 400;
  overflow: hidden;
  padding: 0;
}

.highlight pre {
  overflow: auto;
}

.nav-left,
.tile {
  -webkit-box-align: stretch;
}

@media screen and (max-width: 768px) {
  .level-item:not(:last-child) {
    margin-bottom: 10px;
  }

  .level-left+.level-right {
    margin-top: 20px;
  }
}

@media screen and (min-width: 769px) {
  .level-left {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .level-right {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}

.level {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.level code {
  border-radius: 3px;
}

.level img {
  display: inline-block;
  vertical-align: top;
}

.level.is-mobile {
  display: flex;
}

.level.is-mobile>.level-item:not(:last-child) {
  margin-bottom: 0;
}

.level.is-mobile>.level-item:not(.is-narrow) {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.nav,
.pagination,
.panel-icon {
  text-align: center;
}

.modal,
.nav-left,
.tabs {
  overflow: hidden;
}

.nav-left,
.tabs {
  overflow-x: auto;
}

.modal {
  top: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  z-index: 1986;
}

.nav-item,
.pagination {
  -webkit-box-align: center;
}

.modal.is-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 769px) {
  .nav-toggle {
    display: none;
  }
}

.level-item {
  stroke: currentColor;
  fill: none;
  position: relative;
  top: 0.1111111111111111em;
}

.nav-item {
  -ms-flex-align: center;
  align-items: center;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px;
}

.nav-item a {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.nav-item img {
  max-height: 24px;
}

.nav-item .button+.button {
  margin-left: 10px;
}

.nav-item .tag:first-child {
  margin-right: 5px;
}

.nav-item .tag:last-child {
  margin-left: 5px;
}

.nav-item a,
a.nav-item {
  color: #42464c;
}

@media screen and (max-width: 768px) {
  .nav-item {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .nav-menu {
    background-color: #fff;
    box-shadow: 0 4px 7px rgba(17, 17, 17, 0.1);
    left: 0;
    display: none;
    right: 0;
    top: 100%;
    position: absolute;
  }

  .nav-menu .nav-item {
    border-top: 1px solid rgba(211, 214, 219, 0.5);
    padding: 10px;
  }

  .nav-menu.is-active {
    display: block;
  }
}

.container>.nav>.nav-left>.nav-item:first-child:not(.is-tab),
.nav>.container>.nav-left>.nav-item:first-child:not(.is-tab) {
  padding-left: 0;
}

@media screen and (min-width: 769px) and (max-width: 979px) {
  .nav-menu {
    padding-right: 20px;
  }
}

.container>.nav>.nav-right>.nav-item:last-child:not(.is-tab),
.nav>.container>.nav-right>.nav-item:last-child:not(.is-tab) {
  padding-right: 0;
}

.nav-left {
  -ms-flex-align: stretch;
  align-items: stretch;
  display: flex;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.nav,
.nav-center {
  -webkit-box-align: stretch;
}

.nav-center {
  -ms-flex-align: stretch;
  align-items: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 769px) {
  .nav-right {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}

.nav,
.nav>.container {
  min-height: 50px;
}

.nav {
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: #fff;
  display: flex;
  position: relative;
  z-index: 2;
}

.nav-shifted {
  display: grid !important;
  grid-template-columns: auto !important;
}

.section {
  background-color: #fff;
  padding: 40px 20px;
}

@media screen and (min-width: 980px) {
  .section.is-medium {
    padding: 120px 20px;
  }

  .section.is-large {
    padding: 240px 20px;
  }
}

code,
html {
  background-color: #fff;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.content h1:not(:first-child),
.content h2:not(:first-child),
.content h3:not(:first-child),
.content h4:not(:first-child),
.content h5:not(:first-child),
.content h6:not(:first-child),
article+article {
  margin-top: 40px;
}

.content {
  font-size: 16px;
  line-height: 1.75;
}

.media-content .subtitle+.title {
  margin-bottom: 10px;
}

.media-content .content {
  line-height: 1.5;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6,
.title {
  line-height: 1.25;
  font-family: "fira_mono_medium", monospace;
}

.hero .nav {
  box-shadow: none;
}

.nav .level-item {
  margin-left: 10px;
}

.subtitle {
  color: #69707a;
}

.title {
  font-size: 24px;
}

.title a {
  color: #222324;
}

.title.notfound {
  font-size: 20vw;
}

code {
  color: inherit;
  font-size: 90%;
}


.content h1 {
  font-size: 24px;
}

.content h2 {
  font-size: 22px;
}

.content h3 {
  font-size: 20px;
}

.content h4 {
  font-size: 18px;
}

.content h5 {
  font-size: 17px;
}

.content h6 {
  font-size: 16px;
}

.content ol:not(:last-child),
.content p:not(:last-child),
.content pre:not(:last-child),
.content table:not(:last-child),
.content ul:not(:last-child) {
  margin-bottom: 1.5em;
}

.content table td,
.content table th {
  border: 1px solid #d3d6db;
  padding: 8px 10px;
  vertical-align: top;
}

.content p>code,
.content>code {
  font-size: 90%;
  padding: 2px 4px;
  margin: 0 2px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f8f8f8;
  color: #42464c;
}

.content pre code {
  font-size: 90%;
  padding: 1em;
  line-height: 1.5;
}

.content li pre,
.content li table {
  margin-bottom: 1.5em;
}

img[src$="#c"] {
  display: block;
  margin: 0.7rem auto;
}

img[src$="#l"] {
  float: left;
  margin: 0.7rem;
}

img[src$="#r"] {
  float: right;
  margin: 0.7rem;
}

.related a:not(.button) {
  border-bottom: none;
}

.related a:not(.button):visited {
  color: #000;
}

.related ul {
  font-size: 17px;
}

div.subtitle.tags {
  margin-bottom: 0px;
}

.copy-code-button {
  color: #272822;
  background-color: #FFF;
  border-color: #272822;
  border: 2px solid;
  border-radius: 3px 3px 0px 0px;

  display: block;
  margin-left: auto;
  margin-right: 0;

  margin-bottom: -2px;
  padding: 3px 8px;
  font-size: 0.8em;
}

.copy-code-button:hover {
  cursor: pointer;
  background-color: #F2F2F2;
}

.copy-code-button:focus {
  background-color: #E6E6E6;
  outline: 0;
}

.copy-code-button:active {
  background-color: #D9D9D9;
}

.highlight pre {
  margin: 0;
}

.content li p {
  margin-bottom: -2px !important;
  margin-top: 10px !important;
}
