<section class="section">
  <div class="container">
    <nav id="nav-main" class="nav">
      <div id="nav-name" class="nav-left">
        <a id="nav-anchor" class="nav-item" href="{{ .Site.BaseURL }}">
          <h1 id="nav-heading" class="title is-4">{{ .Site.Title }}</h1>
        </a>
      </div>
      <div class="nav-right">
        <nav id="nav-items" class="nav-item level is-mobile">
          {{- $social := ( .Site.Params.social ) -}}
          {{- range $platform := $social.config.platforms -}}
          {{- with $username := ( index $social $platform ) -}}
	  {{- if eq $platform "about" -}}
            <a class="level-item" aria-label="{{ $platform }}"
             href='{{ print ( index $.Site.Data.theme.social.base $platform ) $username }}'
             rel='noopener'>
          {{- else -}}
            <a class="level-item" aria-label="{{ $platform }}"
             href='{{ print ( index $.Site.Data.theme.social.base $platform ) $username }}'
             target='_blank' rel='noopener'>
          {{- end -}}
            <span class="icon">
              <i class>
                {{- partial "svg/icons" $platform -}}
              </i>
            </span>
          </a>
          {{- end -}}
          {{- end -}}
        </nav>
      </div>
    </nav>

    <nav class="nav">
      {{ if (isset .Site.Params "sections_left" ) }}
      <div class="nav-left">
        {{- range $section, $printable := .Site.Params.sections_left -}}
        {{- if $printable -}}
        <a class="nav-item" href="{{$section}}">
          <h2 class="title is-5">{{$printable}}</h2>
        </a>
        {{- end -}}
        {{- end -}}
      </div>
      {{ end }}

      {{ if (isset .Site.Params "sections_right" ) }}
      <div class="nav-right">
        {{- range $section, $printable := .Site.Params.sections_right -}}
        {{- if $printable -}}
        <a class="nav-item" href="{{$section}}">
          <h2 class="title is-5">{{$printable}}</h2>
        </a>
        {{- end -}}
        {{- end -}}
      </div>
      {{ end }}
    </nav>

  </div>
  <script src="/js/navicon-shift.js"></script>
</section>