{{ range first 1 . }}
<a class="subtitle is-6" href="{{ "/tags/" | relURL }}{{ . | urlize }}/">{{ . }}</a>
{{ end }}

{{ if gt (len .) 1 }}
  {{ range after 1 . }}
  | <a class="subtitle is-6" href="{{ "/tags/" | relURL }}{{ . | urlize }}/">{{ . }}</a>
  {{ end }}
{{ end }}
